#player{
    height: 200px;
    width: 150px;
    border: solid black 1px;

}
#computer{
    height: 200px;
    width: 150px;
    border: solid black 1px;

}
.Hearts{
    background-image: url("./images/heart.png");
    background-size: 110%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 10px 10px 0;
    padding-top:75px;
}
.Diamonds{
    background-image: url("./images/diamond.png");
    background-size: 100%;
    background-position: 0px, 0px, 10px;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 10px 10px 0;
    padding-top:75px;
}
.Clubs{
    background-image: url("./images/clubs.png");
    background-size: 100%;
    background-position: 0px, 0px, 10px;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 10px 10px 0;
    padding-top:75px;
}
.Spades{
    background-image: url("./images/spade.png");
    background-size: 100%;
    background-position: 0px, 0px, 10px;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 10px 10px 0;
    padding-top:75px;
}
