#wrapper{
    width: 100%;
    margin: 0 auto;
}
#hidden{
    width: 600px;
    height: 50px;
}
#button{
    width: 400px;
}
square {
    text-align: center;
    float:left;
    margin: 0 10px 10px 0;
    width:35px;
    height:30px;
    padding-top:10px;
    cursor:pointer;
    border: solid 1px black;
}
.letters {
    flex-wrap: wrap;
    text-align: center;
    float:left;
    margin: 0 10px 10px 0;
    width:35px;
    height:30px;
    padding-top:10px;
    cursor:pointer;
    border: solid 1px black;
}
