body {

}
#wrapper {
    
}
#hidden #button {
    width: 800px;
    height: 50px;
}
square {
    height: 150px;
    width: 150px;
    border: solid black 1px;
    margin: 5px;
}
.letters {
    height: 150px;
    width: 150px;
    border: solid black 1px;
    margin: 5px;
    background-color: aqua;
}